<%- include("./layouts/head.ejs")%>
    <%- include("./layouts/header.ejs")%>
        <%- include("./layouts/menu.ejs")%>

            <!--	List Product	-->
            <div id="body">
                <div class="container">
                    <%- include("./layouts/sidebar.ejs")%>

                        <div id="search-result">Kết quả tìm kiếm với sản phẩm <span style="color: #f2cb28;">
                                <%=keyword%>
                            </span></div>
                        <div class="products">
                            <div class="product-list row row-cols-lg-6 row-cols-md-4 row-cols-3">
                                <%for(product of products){%>

                                    <div class="product-item">
                                        <div class="product-itemn-inner card">
                                            <div class="<%=product.spmoi? " iconnew" : "annode" %>">
                                                <img src="./images/New folder/icon new.png" />
                                            </div>

                                            <!-- <div class="<%=product.spbanchay? " iconhot" : "annode" %>">
                                                <img src="./images/New folder/icon hot.gif" />
                                            </div>

                                            <div class="<%=product.spsale? " sale" : "annode" %>">
                                                <p class="nhapnhay">-<%= Math.round(product.price/product.pricesale)%>%
                                                </p>
                                            </div> -->

                                            <div class="salesp" style="<%=product.spmoi? "" : "margin-top: 0;" %>">
                                                <a href="/product/<%=product.slug%>/<%=product.id%>"><img
                                                        src="./images/New folder/<%=product.images[0].image%>" />
                                                </a>
                                                <h2><a href="/product/<%=product.slug%>/<%=product.id%>"
                                                        title="<%=product.name%>">
                                                        <%=product.name%>
                                                    </a></h2>
                                                <p>
                                                    <span style="text-decoration: line-through;"><%= new Intl.NumberFormat("vi-VN", { style: "currency" ,
                                                        currency: "VND" , minimumFractionDigits: 0,
                                                        }).format(product.price)%></span>
                                                    <span style="font-weight: bold; color: #eb1f27;"
                                                        class="nhapnhay">(-<%= Math.round(100-(product.pricesale/product.price)*100)%>%)</span>
                                                </p>
                                                <p>
                                                    <sapn class="giasale">
                                                        <%= new Intl.NumberFormat("vi-VN", { style: "currency" ,
                                                            currency: "VND" , minimumFractionDigits: 0,
                                                            }).format(product.pricesale)%>
                                                    </sapn>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <% }%>

                            </div>
                            <!-- <div id="pagination">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Trang trước</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Trang sau</a></li>
                                    </ul>
                                </div> -->
                        </div>
                </div>
            </div>
            <!-- end list product -->

            <%- include("./layouts/footer.ejs")%>





                <script>
                    // thanh 3 chấm menu
                    function myFunction(x) {
                        x.classList.toggle("change");
                    }
                </script>

                </body>

                </html>